{% extends 'account/base.html'%}
{% load crispy_forms_tags %}
{% block content %}






<div class="card card-body mx-auto my-4 auth-card shadow-sm">
    <h1 class="display-4 text-center">Reset Password</h1>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="'border-bottom mb-4">Enter Your VIT Email address</legend>
{#            {{ form| crispy }}#}

        <div id="div_id_email" class="form-group">
            <label for="id_email" class=" requiredField">
                        Email<span class="asteriskField">*</span> </label>
            <div class="">
                {% if request.user.is_authenticated %}
                    <input value="{{ request.user.email }}" type="email" name="email"
                           autocomplete="email" maxlength="254"
                           class="emailinput form-control" required=""
                           id="id_email">
                {% else %}
                    <input  type="email" name="email"
                           autocomplete="email" maxlength="254"
                           class="emailinput form-control" required=""
                           id="id_email">
                {% endif %}
            </div>
        </div>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
        </div>
    </form>
</div>

{% endblock %}
