
{% extends 'account/base.html' %}
{#{% load crispy_forms_filters %}#}
{% load crispy_forms_tags %}
{% block title %}Upload Notes{% endblock %}
{% block content %}
{##}
{#<div class="card card-body mx-auto my-4 auth-card shadow-sm">#}
{#    <form method="POST">#}
{#        {% csrf_token %}#}
{#        <fieldset class="form-group">#}
{#            <legend class="'border-bottom mb-4">Register </legend>#}
{#           {{ registration_form | crispy  }}#}
{#        </fieldset>#}
{#        <div class="form-group">#}
{#            <button class="btn btn-outline-info" type="submit"> Sign Up</button>#}
{#        </div>#}
{#    </form>#}
{#    <div class="'border-top pt-3">#}
{#        <small class="'text-muted">#}
{#            Already Have An Account ? <a class="ml-2" href="{% url 'login' %}">Login</a>#}
{#        </small>#}
{#    </div>#}
{#</div>#}
    <div class="card card-body mx-auto my-4 auth-card shadow-sm">
          <h1 class="display-4 text-center">Upload Notes</h1>
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %} {{form|crispy}}
            <div class="row">
              <div class="col-6 pr-1">
                <button class="btn btn-primary btn-block" type="submit">
                  Upload
                </button>
              </div>
            </div>
          </form>
    </div>
{% endblock%}